body {
	background-color: rebeccapurple;
}

.new-line {
	font-size: 24px;
	font-weight: 900;
	color: #fff;
}

.new-div {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	margin-top: 50px;
	background-color: #000;;
}