body {
	background-color: rebeccapurple;
}

.new-line {
	font-size: 24px;
	font-weight: 900;
	color: #fff;
}

.new-div {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	margin-top: 50px;
	background-color: #000;;
}

.new-btn {
	width: 80px;
	height: 60px;
	padding: 2px;
	text-align: center;
	background-color: #fff;
	color: #000;
}